.devcontainer/
.env/
.github/
.elasticbeanstalk/*
.git
.gitignore
**/tests/
docs/
dangerfile.js
.pre-commit-config.yaml
notebook.ipynb
**/__pycache__/
Dockerfile
LICENSE
TERMS.md
CONTRIBUTING.md
README.md
