files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 6,18 * * * certbot renew --no-self-upgrade
container_commands:
    10_create_cert_crontab:
        command: "sudo crontab /tmp/renew_cert_cron"
    20_delete_cronjob_file:
        command: "sudo  rm /tmp/renew_cert_cron"
        ignoreErrors: true
